<div class="store-element__image">
  <img src="<%= item.imageUrl %>" class="img-rounded" alt="<%= item.name %>">
</div>
<div class="store-element__info">
  <p><%= item.currency %> <%= item.price %></p>
  <h1> <%= item.name %> </h1>
  <!-- <button id='addToCart'> Add To Cart </button> -->
</div>
